

body{
	background-color: orange;
	background: -webkit-linear-gradient(to right, #f46b45, #eea849);
	background: linear-gradient(90deg, #f46b45, #eea849);
}

/* The Header */
.header{
	height: 70px;
	width: 100%;
	background: #232526; 
		/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #232526 , #414345); 
		/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #232526 , #414345); 
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Verdana, Courier, sans-serif;
	text-align: center;
	z-index: 1;
}

.header h1{
	color: #f18a47;
	
}

.header h3{
	color: white;
	
}



/*side bar start*/

.sidebar{
	position: absolute;
	left: 0;
	top: 71px;
	width: auto;
	padding: 1%;
	padding-bottom: 50vh; /*Needed as the 
	dropdown box wasn't able to be seen as it overstepped the outside
	bounds of this box*/ 
	max-width: 12%;
	margin-right: 1%;
	text-align: left;
	overflow: hidden; 
	/*border: 1px solid white;  Just a Temporary Border - remove this*/
	display: flex;
	flex-wrap: wrap;

	
}

.sidebar li{
	list-style-type: none;
	font-family: Courier, Verdana, sans-serif;
	padding-bottom: 2.0vw;
	
}

.sidebar a:link,
.sidebar a:visited{
	color: black;
	text-decoration: none;
}

.sidebar a:hover{
	text-decoration: underline;
}

.horizontal_line{
	background: #232526; 
		/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #232526 , #414345); 
		/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #232526 , #414345);
	margin-top: 1.0vw;
	margin-bottom: 2.0vw;
	min-height: .75vh;
}



/*start of drop down for Follow Me*/

.dropDownButton{
	cursor: pointer;
}

.dropDownButton:hover,
.dropDownButton:focus{
	background-color: none; /*debug color*/
}

.dropdown-content{
	position: relative;
	margin-top: -25%;
	display: inline-block;
}

.dropdown-content{
	display: none; /*makes our list drop-down box hidden*/
	position: absolute; /*Makes the positoin of the box relative to the sidebar*/
	border-radius: 10px; /*Rounds the corners of our box*/
	background: #f49945; /*Background color/s for when multiple browser types*/
	background: -webkit-linear-gradient(to right, #f49945 , #f4bf45); 
		/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #f49945 , #f4bf45);
	
	min-width: 75%;
	z-index: 1;

	padding: 10% 15%;

}



#followMe{
	padding-bottom: 5%;
}

/*start of main content, the big body*/

.content{
	min-height: 120vh; /*used to be 100vh*/
	border-left: 3px solid black;
	border-bottom: 3px solid black; /* */
	background-color: #505050;
	position: relative;
	left: 13%;
	color: #f18a47;
	padding: 1% 2%;
	/*width: 90%;*/
	border-left: 3px solid black;
	max-width: 87%

}

.content h1{
	color: white;
	font-family: Courier, Verdana, sans-serif;
}

.content p{
	font-family: sans-serif, Courier, Verdana;
	padding: 5px 0px 10px 0px; /*Top, right, bottom left*/
	letter-spacing: 1px; /*Makes the letters all spaced out a little more*/
	word-spacing: 3px; /*Puts spaces between words*/
}

.content a:link,
.content a:visited{
	color: #BB9D86;
	text-decoration: none;
}

.content a:hover{
	text-decoration: underline;
}




/* Mobile Styles */
@media only screen and (max-width: 400px) {

.sidebar{
	max-width: 22%;
}

.sidebar li{
		font-size: 15px;
		padding-bottom: 10%;
}

.dropdown-content li{
	font-size: 10px;
}



.content{
	left: 23%;
	border-left: 3px solid black;
	max-width: 77%

}

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {


.sidebar{
	max-width: 17%;
}

.sidebar li{
	font-size: 20px;
}

.dropdown-content li{
	font-size: 15px;
}

.content{
	left: 18%;
	border-left: 3px solid black;
	max-width: 82%

}

}




/* Desktop Styles */
@media only screen and (min-width: 961px) {


.sidebar li{
	font-size: 25px;
}


.dropdown-content li{
	font-size: 20px;
}

}


