

body{
	background-color: orange;
	background: -webkit-linear-gradient(to right, #f46b45, #eea849);
	background: linear-gradient(90deg, #f46b45, #eea849);
}

/* The Header */
.header{
	height: 70px;
	width: 100%;
	background: #232526; 
		/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #232526 , #414345); 
		/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #232526 , #414345); 
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Verdana, Courier, sans-serif;
	text-align: center;
	
}

.header h1{
	color: #f18a47;
	
}

.header h3{
	color: white;
	
}



.sidebar{
	position: absolute;
	left: 0;
	top: 71;
	width: auto;
	padding: 1%; 
	max-width: 12%;
	margin-right: 1%;
	text-align: left;
	overflow: hidden; 
	border: 1px solid white; /* Just a Temporary Border - remove this*/
	display: flex;
	flex-wrap: wrap;
	
}

.sidebar li{
	list-style-type: none;
	font-family: Courier, Verdana, sans-serif;
	padding-bottom: 2.0vw;
	
}


.sidebar a:link,
.sidebar a:visited{
	color: black;
	text-decoration: none;
}

.sidebar a:hover{
	text-decoration: underline;
}

.horizontal_line{
	background: #232526; 
		/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #232526 , #414345); 
		/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #232526 , #414345);
	margin-bottom: 2.0vw;
	min-height: .75vh;
}

.content{
	min-height: 100vh;
	border-left: 3px solid black;
	background-color: #505050;
	position: relative;
	left: 13%;
	color: #f18a47;
	padding: 1% 2%;
	width: 90%;
	border-left: 3px solid black;
	max-width: 87%

}

.content h1{
	color: white;
	font-family: Courier, Verdana, sans-serif;
}

.content p{
	font-family: sans-serif, Courier, Verdana;
	padding: 5px 0;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	.sidebar li{
		font-size: 12px;
	}

}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.sidebar li{
		font-size: 20px;
	}


}





/* Desktop Styles */
@media only screen and (min-width: 961px) {
	.sidebar li{
		font-size: 25px;
	}

}

